/* src/components/Home.css */
.card-custom {
    background-color: #f8f9fa; /* Couleur de fond personnalisée pour la carte */
    border: 1px solid #dee2e6; /* Bordure personnalisée pour la carte */
    border-radius: 0.5rem; /* Coins arrondis */
  }
  
  .card-title-custom {
    color: #007bff; /* Couleur personnalisée pour le titre */
  }
  
  .card-text-custom {
    color: #6c757d; /* Couleur personnalisée pour le texte */
  }
  
  .btn-custom {
    background-color: #007bff; /* Couleur de fond personnalisée pour le bouton */
    border-color: #007bff; /* Couleur de bordure personnalisée pour le bouton */
  }
  
  .btn-custom:hover {
    background-color: #0056b3; /* Couleur de fond au survol pour le bouton */
    border-color: #004085; /* Couleur de bordure au survol pour le bouton */
  }